/*
 * CSS style sheet for the map page.
 * Modified by Dylan Wulf to correctly style
 * the added filtering elements.
 */
 
/*
 *Name: Evan Melquist, Zachary Nelson, Richard Levenson, Jeremy Leon and Hunter Dubel
 *Course: CSC 415
 *Semester: Fall 2015
 *Instructor: Dr. Pulimood
 *Project Name: Pollution Prediction
 *Description: Fixed merge conflicts to allow the SOAP map page to load correctly.
 *Filename: map.css
 *Last Modified On: 11/29/15 by Richard Levenson
 */

.wrapper {
    /* border: 1px solid yellow; */
    padding-bottom: 0px;
    min-height: 80vh;
}

footer {
    margin-top: 21px;
}

.search-wrapper {
    background-color: #748c73;
    height: 80vh;
}

.map-wrapper {
    /* border: 1px solid blue; */
}


@media (min-width: 768px) {
    
    .row {
        margin-left: 0px;
    }

    .row-fluid .span3{
        width: 25%;
    }
    
    .row-fluid .span9{
        margin-left: 0px;
        width: 75%;
    }
    
    .container-fluid {
        padding-right: 0px;
        padding-left: 0px;
    }
    
    .modal.fade.in {
        top: 10%;
        z-index: 1050;
    }
    
    .modal-header {
        padding: 5px;
        min-height: 21px;
    }
    
    .modal-header .close {
        margin: 0 5px 0 0;
    }
    
    .modal {
        width: 60%;
        left: 20%;
        top: 25%;
        margin: 0px;
    }
}

.left {
    float: left;
    width: 50%;
}

.right {
    float: left;
    width: 50%;
}

.item-title {
    float: left;
    font-weight: bold;
    padding-right: 10px;
}


h4 {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-top: 5px;
}

h4:first-child {
  margin-top: 0px;
}


hr {
    margin: 5px 0;
    border-color: #013435;
}

.item-content {
    float: left;
}

.modal-body {
    padding: 5px;
    height: 400px;
}

.modal-body.loading {
  background-image: url("/SOAP/app/webroot/img/ajax-loader.gif");
  background-repeat: no-repeat;
  background-position: center;
}

.modal.fade {
  z-index: -1;
  transition: none;
}

a.page-link {
  color: #037162;
  text-decoration: none;
  font-family: "Josefin Slab",serif
}

.chemicals-details span {
  font-size: 12px;
}

.search-element {
  margin-top:10px;
  margin-bottom:10px;
  width:400px !important;
}

.search-field {
  width:68%; 
  padding-left:18px;
  margin-left:5px; 
  margin-bottom:0px;
  background: white no-repeat scroll right center url('/SOAP/app/webroot/img/icon_search.png');
  float: left;
}

.search-filter {
  width: 100%;
  text-align: center;
}

.search-btn {
  margin-left: 5px;
  float: left;
}

.address-btn {
  margin-left: 5px;
  float: left;
}

.search-wrapper {
  overflow: auto;
}

.search-wrapper ul {
  float: left;
  list-style-type: none;
  padding-left: 5px;
  padding-right: 5px;
  margin: 0px;
  width: 97%;
  margin-bottom: 10px;
}

.search-wrapper ul li:nth-child(2n+1) {
  background-color: #b8bd9f;
}

.search-wrapper ul li:nth-child(2n) {
  background-color: #c3c7ae;
}

.search-wrapper ul li {
  padding: 5px;
  border: 1px solid;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.search-wrapper ul li img{
  width: 25px;
  margin-bottom: -5px;
  margin-right: 3px;
} 

.search-wrapper ul li:hover {
  background-color: #92986d;
}
