.thm-dark, .thm-dark .p-author .profile .p-name, .thm-dark .cards-base p, .thm-dark .cards-base p a, .thm-dark .timeline-header .summary, .thm-dark .timeline-header .list-description, .thm-dark .timeline-header a:link, .thm-dark .timeline-header a:visited, .thm-dark .byline, .thm-dark .p-author a.profile:hover .p-name, .thm-dark .p-author a.profile:focus .p-name .thm-dark .custom-timeline-owner-profile .p-name:hover, .thm-dark .custom-timeline-owner-profile .p-name:focus {
    color: #CFCFCF;
}

.SandboxRoot, h1, h2, h3, blockquote, p, ol, ul, li, iframe, button {
    padding: 0px;
    margin: 0px;
    font: 12px/16px "Helvetica Neue",Roboto,"Segoe UI",Calibri,sans-serif;
    text-decoration: none;
    text-transform: none;
    vertical-align: baseline;
    list-style: outside none none;
    border: 0px none;
    outline: 0px none;
}

ul, .SandboxRoot, .p-author .profile .p-name, .custom-timeline-owner-profile .p-name, .cards-base p, .cards-base p a, .timeline-header .custom-timeline-summary, .timeline-header .custom-timeline-summary a:link, .timeline-header .custom-timeline-summary a:visited, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited, .p-author a.profile:hover .p-name, .p-author a.profile:focus .p-name {
    background-color: #292F33;
}
.Button{
	float:right;
	right: 170px;
	position:absolute;
	top: 665px;
}

#twitter-widget-1{
	width:500px; 
	height:500px; 
	overflow:auto;
}